<div class="panel panel-default">
	<div class="panel-heading">
		<%= @chatroom.topic %>
	</div>

  <% if @chatroom.messages.any? %>
    <div id="messages" class="panel-body">
      <%= render partial: 'messages/messages', collection: @chatroom.messages, as: :message %>
    </div>
  <% else %>
    <div id="messages" class="panel-body"></div>
  <% end %>	
	<%= render partial: 'messages/form', locals: { message: @message } %>
</div>